.DS_Store
*/.DS_Store
testimg.webp

# experimentation
notebooks/explore_transforms.ipynb
notebooks/explore_balancing.ipynb
notebooks/explore_bounding_box_cropping.ipynb
experiments/*

# python bytecode
__pycache__/
*.pyc