.DS_Store
*/.DS_Store
testimg.webp

# experimentation
notebooks/explore_transforms.ipynb
notebooks/explore_balancing.ipynb
notebooks/explore_bounding_box_cropping.ipynb
notebooks/explore_data_with_bbox.ipynb
experiments/*
testimg.png

# python bytecode
__pycache__/
*.pyc