.DS_Store
*/.DS_Store
.vscode

# experimentation
notebooks/explore_transforms.ipynb
notebooks/explore_balancing.ipynb
notebooks/explore_bounding_box_cropping.ipynb
notebooks/explore_data_with_bbox.ipynb
notebooks/sanity_data_filter.ipynb
notebooks/sanity_sampler.ipynb
notebooks/torchscript_export.ipynb
experiments/*
testimg.png

# deployment
deployment/

# python bytecode
__pycache__/
*.pyc

# model optimization
convert_to_onnx.py
swin_model.onnx